@import '../../../shared/scss/base-layout.scss';

.conditions__info__panel {
  @include defaultPanel;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 7.5rem;
}

.conditions__info__panel__message {
  font-size: 1.3rem;
  margin-right: 1rem;

  &.invalid {
    font-size: .9rem;
    color: #9f3a38;
    padding: .5rem 0 .25rem 0;  
  }

  &.valid {
    font-size: .9rem;
    padding: .5rem 0 .25rem 0;  
  }

  >.help {
    font-size: .8rem;
    color: rgb(0, 140, 153);
    margin-left: .5rem;
  }
}

.conditions__info__panel button + button {
  margin-left: .5rem;
}

